<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudia</title>
</head>
<body>
    <h1>SignUp on Cloudia</h1>
    <form action="/signup" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="password">Repeat password</label>
        <input type="password" name="r-password" id="r-password">
    </form>
</body>
</html>